@charset "utf-8";
html {
        background: rgb(3, 44, 66);
        color: rgb(158, 228, 245);
}                                              /*整体背景*/

code { white-space: pre; }                     /*代码*/

.em {
  color: rgb(250, 30, 30);
  font-weight: bold;
  border-bottom:2px solid rgb(250, 30, 30);
  padding:1px;
}                                              /*重点*/

.listin{ border-left:9px dotted green; }     /*details内的details的样式*/

table {
  border-collapse: collapse;
  margin: 2% auto;
  text-align: center;
}                                              /*表格*/

#body {
  margin: 0% 12% 3% 12%;
  line-height:1.7em;
}                                              /*文章主体*/

#h1,h2,summary {
  color: rgb(82, 255, 234);
}                                              /*小标题*/

a{ text-decoration:none; }
a:hover{ color:rgb(200,200,200) }
a:link{ color:rgb(82, 255, 234); }
a:visited{ color:rgb(100,100,100); }                      /*a元素样式*/