body{ 
      position:relative;
     }
      #body{
            font:17px/1.6em sans-serif;
            margin:0px 10% 10px 2%;
            padding:10px 10px 10px 10px;
            border-left:3px solid rgb(111, 161, 195);
            border-bottom:5px solid rgb(111, 161, 195);
            }
      #h1{
            color:rgb(40,40,40);
            border-bottom:5px solid firebrick;
            background:url(h1背景.PNG) no-repeat;
            height:138px;
            font:40px sans-serif;
            }
            .smallh1{
                        display:inline-block;
                        margin-top:98px;
                        font:30px bold;
                        }
      .em{
            color:rgb(123, 231, 231);
            }
a:link { color: rgb(80,150,150); text-decoration:none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: white; text-decoration: none; }